.product__navigation__title {
    color: #150101;
    font-family: Hind Madurai;
    font-size: 44.2px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.product__navigation__list ul {
    display: flex;
    justify-content: space-around;
}

.product__navigation__list li {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product__navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.product__navigation__list{
    width: 100%;
    margin-top: 64px;
    margin-bottom: 50px;
}

.product__price__card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 85px;
    flex-wrap: wrap;
}

.product__price__list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.price__price {
    display: flex;
    flex-direction: column;
   justify-content: center;
    max-width: 454px;
/* height: 67px; */
}

.price__img{
    display: flex;
    width: 50%;
}
.price__img img{
    /* width: 580px;
height: 415px; */

border-radius: 10px;
}

.price__price h3{
    color: #000;
font-family: Hind Madurai;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.price__price p{
    margin-top: 5px;
    color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.price__promo__list {
    margin-top: 30px;
}

.price__promo {
    color: #000;
font-family: Hind Madurai;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.price__reg {
    color: #000;
font-family: Hind Madurai;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: strikethrough;
}

.price__price button {
    margin-top: 16px;
    width: 165px;
height: 49px;
flex-shrink: 0;
}

.price__end {
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: end;
}

.rewiews__author {
    display: flex;
    flex-direction: column;
}

.reviews__avatar__cnt {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rewiews__text__cnt {
    display: flex;
    width: 370px;
}

.rewiews__carusel {
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.rewiews__gallery {
    display: flex;
    gap: 20px;
}

.rewiews__name {
    color: #000;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.rewiews__contry {
    color: #000;
text-align: start;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.rewiews__text__cnt{
    margin-top: 50px;
    gap: 5px;
}

.rewiews__gallery img{
    width: 57.812px;
height: 57.812px;
border-radius: 57.812px;
border: 1px solid #D64374;
}

.rewiews__carusel button{
    border: none;
}

.rewiews__text__cnt__img__top {
    align-self: flex-start;
}

.rewiews__text__cnt__img__botton {
    align-self: flex-end;
}
.product__rewiews__cnt {
    margin: 100px 0px;
}

.product__cnt {
    margin: 100px 0px;
}

@media(max-width:1145px){
    .product__price__card {
        justify-content: center;
        gap: 50px;
    }
}

@media(max-width:1028px){
    .product__cnt{
        display: flex;
    }
    .price__img img{
        width: 100%;
    }
}

@media(max-width:870px){
    .product__navigation__list ul{
        flex-direction: column;
    }
}
